<div class="container">
  <div class="col-sm-6">
    <img src="/images/graph.png" alt="" />
  </div>
  <div class="col-sm-6">
    <h1>Subscribe!</h1>
    <p>Enter you email if you're interested in learning more</p>
    <form class="subscription-form" action="/subscribe" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input
        type="text"
        name="zipCode"
        placeholder="Zip Code"
        pattern="[0-9]{5}"
      />
      <input type="submit" class="button" name="submit" value="Subscribe" />
    </form>
  </div>
</div>
